@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Course
<!doctype html>
<html>
<head>
    <title>@ViewData["title"]</title>
</head>
<body>
    <h4>Id: @Model.CourseId</h4>
    <h4>Name: @Model.CourseName</h4>
    <h4>Credits: @Model.Credit</h4>
</body>
</html>